<div class="flex gap-2">
  <!-- Preview -->
  <app-avatar [avatar]="avatar"></app-avatar>
  <!-- Editor -->
  <div class="flex flex-col gap-1">
    <ul role="list" class="divide-y divide-gray-200">
      <!-- Selection of avatar -->
      <li class="px-4 py-4 sm:px-0">
        <h1>Avatar</h1>
        <app-avatar-selector
          (avatar$)="onSelectAvatar($event)"
        ></app-avatar-selector>
      </li>
      <!-- Selection of clothes -->
      <li class="px-4 py-4 sm:px-0">
        <h1>Clothes</h1>
        <div class="flex flex-col gap-1">
          <div
            class="overflow-hidden rounded-md border border-gray-300 bg-white"
          >
            <ul role="list" class="divide-y divide-gray-300">
              <li class="px-6 py-4">
                <h2>T-Shirt</h2>
                <app-cloth-selector
                  type="t-shirt"
                  (cloth$)="onSelectCloth($event)"
                ></app-cloth-selector>
              </li>
              <li class="px-6 py-4">
                <h2>Shoes</h2>
                <app-cloth-selector
                  type="shoes"
                  (cloth$)="onSelectCloth($event)"
                ></app-cloth-selector>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
